NET "MCLK" LOC = "P40";

NET "B0" LOC = "P37" ;
NET "B1" LOC = "P32" ;
NET "reset" LOC = "P34" ;

NET "digit[0]" LOC = P15;
NET "digit[1]" LOC = P12;

NET "inputNum[0]" LOC = P88;
NET "inputNum[1]" LOC = P85;
NET "inputNum[2]" LOC = P82;
NET "inputNum[3]" LOC = P78;

NET "SEVSEG_CONTROL[0]" LOC = P60;
NET "SEVSEG_CONTROL[1]" LOC = P61;
NET "SEVSEG_CONTROL[2]" LOC = P59;
NET "SEVSEG_CONTROL[3]" LOC = P57;
NET "SEVSEG_CONTROL[4]" LOC = P52;
NET "SEVSEG_CONTROL[5]" LOC = P56;
NET "SEVSEG_CONTROL[6]" LOC = P50;
NET "SEVSEG_CONTROL[7]" LOC = P49;

NET "SEVSEG_DATA[6]" LOC = P71;
NET "SEVSEG_DATA[5]" LOC = P62;
NET "SEVSEG_DATA[4]" LOC = P65;
NET "SEVSEG_DATA[3]" LOC = P72;
NET "SEVSEG_DATA[2]" LOC = P73;
NET "SEVSEG_DATA[1]" LOC = P98;
NET "SEVSEG_DATA[0]" LOC = P64;